*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

header {
    padding-top: .5em;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
    /* I need position relative for the toggle button */
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.call__button {
    position: absolute;
    top: 30px;
    right: 90px;
}

.nav-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 1em 0;
}

.nav__item {
    margin-top: .5em;
}

.nav__link {
    color: #105378;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .65;
}

@media (min-width: 800px) {
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        position: relative;
        height: auto;
    }

    .nav__item {
        margin: 0 0 0 1.5em;
    }

    .nav__list {
        display: flex;
    }

    .head-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .call__button {
        position: relative;
        right: 0;
        top: 0;
    }
}